.footer-page{
    bottom: 0;
    width: 100%;
    height:90px;
    background-color: #4848f8;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    z-index: 999;
    flex-direction: row;
    gap: 25px;
    padding-left: 22%;
    color: #f7f7f9;
    font-size: 23px;
}
.icon {
  color: #fbf9f9;
  font-size: 30px;
}

.icon:hover {
  color: #0b0b0b; 
}
