* {
  margin: 0;
  padding: 0;
}
.header-page{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: #4848f8;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    z-index: 999;
}
.header-page h1{
    color: #d2d0f8;
    font-size: 40px;
    padding-left: 15px;
}
.header-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 20px;
    padding-left: 140%;
}
.header-list{
    color: #f7f7f9;
    font-size: 25px;
    cursor: pointer;
    transition: 1s;
}
.header-links a{
    text-decoration: none;
}
.header-list:hover{
    color: rgb(4, 4, 84);
    transform: scale(1.1);
}
.header-button{
    border: none;
    border-radius: 5px;
    font-size: 17px;
    width: 100px;
    height: 30px;
    background-color:#d2d0f8; 
    
}
.header-button:hover{
    background-color:rgb(31, 31, 253);
    box-shadow: 2px 2px 10px rgb(5, 5, 250);
}
